@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. <br />


<div class="mt-2">
    <MudButton Variant="Variant.Filled">Hello World</MudButton>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
